{% load static %}
{% if messages %}
    {% for message in messages %}
        {{ message }}
    {% endfor %}
{% endif %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Sixpence | Portal</title>
<meta http-equiv="content-language" content="en-us" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="design" content="Sadhana Ganapathiraju" />

<link rel="stylesheet" type="text/css" media="screen" href="{% static 'forum/screen.css' %}" />
</head>
<body id="babout">
<div id="header">
  <h1>Sixpence | Portal</h1>
</div>
<div id="navigation">
  <ul>
    <li id="lhome"><a href="{% url 'index' %}">Home</a></li>
    {% if user.is_authenticated %}
        <li id="profile"><a href="{% url 'profile' %}">my profile</a></li>
        <li id="logout"><a href="{% url 'logout' %}">logout</a></li>

    {% else %}
        <li id="login"><a href="{% url 'login' %}">login</a></li>
        <li id="register"><a href="{% url 'register' %}">register</a></li>
    {% endif %}
  </ul>
</div>
<div id="wrapper">
  <div id="content-wrapper">
    <div id="content">
      <h4>Latest threads || <a href="{% url 'add' %}">Add a thread!</a></h4>
      <dl>
          {% for thread in threads %}
        <dt><a href="{% url 'detail' thread.id %}">{{ thread.heading }}</a></dt>
        <dd>{{ thread.content|slice:":55" }} <br>Posted by <a href="{% url 'ones_threads_list' thread.author %}">{{ thread.author }}</a> on {{ thread.date_posted }}</dd>
            {% endfor %}
            <p>Not enough? Check all threads <a href="{% url 'all_threads' %}">here!</a></p>
      </dl>
      <h6>Other Stuff</h6>
      <blockquote>
        <p>I can't help it if people want to go to hell. <cite>&mdash; <abbr title="Invisible Pink Unicorn">IPU</abbr></cite></p>
      </blockquote>
      <pre><code>This is unlike any code I've ever seen in my entire life. Well, minus my dreams, maybe.</code></pre>
    </div>
  </div>
  <div id="sidebar-wrapper">
    <div id="sidebar">
      <h3>An Unordered List</h3>
      <ul>
        <li>I am the most interesting person in the whole galaxy.</li>
        <li>Monkeys are cute &mdash; in cartoons.</li>
        <li>Tom &amp; Jerry rocks. Especially the kids' version.</li>
        <li>July 16, 2009.</li>
        <li>Great American Masterpiece.</li>
        <li>Modern Art: Art or Garbage? Discuss.</li>
      </ul>
      <h3>An Ordered List</h3>
      <ol>
        <li>How to become <strong>one</strong> is studied by many.</li>
        <li>Yin/yang. Left/right. Up/down. Black/white. <strong>Two</strong> thousand six hundred and forty-<strong>two</strong>.</li>
        <li><strong>Three</strong> Little Pigs. <strong>Three</strong> Blind Mice. <strong>Three</strong> Wolves and a Swan Prince.</li>
        <li>A Quarter + A Dime + A Nickel = <strong>4</strong> Dimes.</li>
        <li>Now I know my 1, 2, 3; I can go to 4, <strong>5</strong>, 6.</li>
        <li><strong>Six</strong>ty-<strong>six</strong> on <strong>6</strong>/<strong>6</strong>/<strong>6</strong>00<strong>6</strong></li>
      </ol>
      {% if user.is_authenticated %}
          <h3>Currently logged as:</h3>
          <p>{{ request.user }}</p>
      {% else %}
          <h3><a href="{% url 'login' %}">Log in</a> to share your thoughts with others!</h3>
          <p>If you don't have account, register <a href="{% url 'register' %}">here.</a></p>
      {% endif %}
    </div>
  </div>
</div>
<div id="footer">
  <p>Copyright &copy; 2021 - actually there's no copyright. Just for design testing purposes!</p>
  <p> Design by <a href="http://www.nikhedonia.com/" title="SimplyGold">Sadhana Ganapathiraju</a>.
    Try more <a href="http://www.nikhedonia.com/showcase/category/free_templates/">free templates</a> or <a href="http://www.nikhedonia.com/showcase/category/commercial_templates/">commercial templates</a>. </p>
  <p> <a href="#">Terms of Service</a> | <a href="#">Privacy</a> | <a href="#">Contact</a> | <a href="#">About</a> | <a href="#" title="Valid XHTML 1.0 Strict">Xhtml</a> | <a href="#" title="Valid CSS 2.0 Strict">Css</a> </p>
</div>
</body>
</html>
